.idea
# FRONT

# Logs
/front/.vite
/front/log
/front/*.log
/front/npm-debug.log*
/front/yarn-debug.log*
/front/yarn-error.log*
/front/pnpm-debug.log*
/front/lerna-debug.log*

/front/node_modules
/front/dist
/front/dist-ssr
/front/*.local

# Editor directories and files
/front/.vscode/*
/front/!.vscode/extensions.json
/front/.idea
/front/.DS_Store
/front/*.suo
/front/*.ntvs*
/front/*.njsproj
/front/*.sln
/front/*.sw?

# BACKEND

# compiled output
/back/dist
/back/node_modules

# Logs
/back/logs
/back/*.log
/back/npm-debug.log*
/back/pnpm-debug.log*
/back/yarn-debug.log*
/back/yarn-error.log*
/back/lerna-debug.log*

# OS
/back/.DS_Store

# Tests
/back/coverage
/back/.nyc_output

# IDEs and editors
/back/.idea
/back.project
/back.classpath
/back.c9/
/back*.launch
/back.settings/
/back*.sublime-workspace

/back# IDE - VSCode
/back.vscode/*
/back!.vscode/settings.json
/back!.vscode/tasks.json
/back!.vscode/launch.json
/back!.vscode/extensions.json